* {
  box-sizing: border-box;
}

/* stylování hlavního menu*/

header {
  text-align: center;
}

.menu {
  position: relative;
  display: inline-block;
}

.menuButton {
  /*button který se po najetí kurzorem otevře směrem dolů */
  width: 100px;
  height: 50px;
  background-color: darkolivegreen;
}

.menuContent {
  /*obsah menu, odkazy na další stránky*/
  position: absolute;
  display: none;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: black;
  text-align: center;
  list-style-type: none;
  background-color: white;
}

.menuContent li:hover {
  /*po najetí kurzorem se změní pozadí na zelenou*/
  background-color: greenyellow;
}

.menu:hover .menuContent {
  /*po najetí kurzorem se změní zobraní obsahu menu*/
  display: block;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

.menuIcons {
  background-color: white;
  list-style-type: none;
  padding-top: 20px;
}

.menuIcons li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

li:hover {
  cursor: pointer;
}

.menu:hover+.menuIcons {
  margin-top: 120px;
}

img {
  max-width: 100%;
  height: auto;
}

.picture {
  position: relative;
  background-image: url(pic/uvodni.jpg);
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pictureText {
  text-align: center;
  color: white;
  padding-top: 40px;
  font-size: 20px;
}

.cestovani {
  /*zakladni uprava zobrazení - pro všechny stejná*/
  display: block;
  margin: 40px 10px 40px 10px;
  padding: 0px 5px 0px 5px;
}

.cestovaniText {
  text-align: left;
}

.cestovaniPicture {
  height: 300px;
}

.cestovani2 {
  margin-top: -90px;
  text-align: center;
}

.kalkulacka {
  background-color: white;
  color: black;
  display: block;
  margin: 40px 10px 40px 10px;
  text-align: right;
  padding: 0px 5px 0px 5px;
}

.kalkulackaButton {
  text-align: center;
}

.test {
  background-color: white;
  color: black;
  display: block;
  margin: 40px 10px 40px 10px;
  text-align: left;
  padding: 0px 5px 0px 5px;
}

.testButton {
  text-align: center;
}

.kontakt {
  background-color: white;
  color: black;
  display: block;
  margin: 40px 10px 40px 10px;
  text-align: right;
  padding: 0px 5px 0px 5px;
}

.kontaktButton {
  text-align: center;
}

/* Zobrazení pro tablety*/

@media only screen and (min-width: 550px) {
  .menuButton {
    display: none;
  }
  .menu {
    width: 100%;
  }
  .menuContent {
    position: relative;
    display: inline-block;
    box-shadow: none;
    width: 100%;
  }
  .menuContent ul li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    padding-right: 20px;
  }
  .menu:hover+.menuIcons {
    margin-top: 0px;
  }
  .picture {
    height: 400px;
  }
  .pictureText {
    font-size: 30px;
    
  }
  .cestovani{
    display: flex;
    flex-direction: row;
  }
  .cestovaniPicture {
    width: 65%;
  }
  .cestovani2 {
    width: 35%;
    padding-left: 30px;
    margin-top: 20px;
    text-align: center;
  }

  .kalkulacka {
    display: flex;
    flex-direction:row-reverse;
    
  }

  .kalkulackaPicture {
    width: 250%;
    float: right;
  }
  .kalkulacka2 {
    width: 35%;
    padding-left: 30px;
    margin-top: 20px;
    
  }
  .kalkulackaText {
    text-align: left;
    padding-left: 30px;
    padding-top: 40px;
  }

  .test {
    display: flex;
    
  }

  .testPicture {
    width: 230%;
  }

  .testText {
    text-align: left;
    padding-left: 30px;
    padding-top: 40px;
  }

  .kontaktText {
    text-align: left;
    padding-left: 30px;
    padding-top: 40px;
  }

  .kontakt {
    display: flex;
    flex-direction:row-reverse;
  }

  .kontaktPicture {
    width: 180%;
    
  }

}

@media only screen and (min-width: 1024px) {
  .picture {
    height: 600px;
  }
  .pictureText {
    font-size: 40px;
  }
  .cestovani {
  
   display: flex;
   flex-direction:column;
  
   
  }
  .cestovaniText {
    
  }
  .kalkulacka {
 
  display: flex;
  flex-direction:column;
  margin-left: -260px;
  
  
 }
 .kalkulackaText {
   
 }
 

  .cestovaniPicture {
    
  }

  .kalkulackaPicture {
   width: 130%
    
  }

  .test {
  
  display: flex;
  flex-direction:column;
  
  }

  .testPicture {
  width: 150%
  }

  .testText {
   
  }

  .computer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .kontakt {
    display: none;
  }
}